---
import { SEO } from "astro-seo"

import "@/styles/global.css"

interface Props {
  title?: string
}

const { title } = Astro.props
---

<html lang="en">
  <head>
    <SEO
      title={title ?? ""}
      titleTemplate="%s | Mayonaca Labs マヨナカ研究所"
      titleDefault="Mayonaca Labs"
      description="Landing page of Mayonaca Labs."
      canonical="https://mayonacalabs.com"
      charset="utf-8"
      openGraph={{
        basic: {
          title: "Mayonaca Labs マヨナカ研究所",
          type: "website",
          image: "https://mayonacalabs.com/social.png",
          url: "https://mayonacalabs.com",
        },
        optional: {
          description: "Landing page of Mayonaca Labs.",
        },
        image: {
          alt: "Mayonaca Labs マヨナカ研究所",
        },
      }}
      twitter={{
        card: "summary_large_image",
      }}
      extend={{
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1.0",
          },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />

    {
      import.meta.env.PROD && (
        <script
          is:inline
          async
          defer
          data-website-id="a723d6c0-063b-4fee-aed9-72a10717e021"
          src="https://u.iadw.in/bundle.js"
        />
      )
    }
  </head>
  <body class="bg-mayoblue tracking-snug scroll-smooth font-serif text-gray-50">
    <slot />
  </body>
</html>
